<style>
        body{
            margin-left:3% ;margin-right:3%;
        }
        a{
            color:black;
            text-decoration: none;
        }
        h1{
            margin:0;
            padding:20px;
            font-size:45px;
            text-align: center;
            border-bottom:1px solid gray;
        }
        
        ol{
            border-right:1px solid gray;
            width:100px;
            margin:0;
            padding:20px;
        }
        #active{
                color:red;
            }
        #grid{
            display:grid;
            grid-template-columns:150px 1fr;
        }
        #grid ol{
            
            padding-left:33px;
            
        }
        
            
        img{
            width: 100%; height: auto;
        }
        #article
        {
            padding-left:25px;
        }
        @media(max-width:800px){
            
            #grid{
            display:block;
            }
            ol{
                border-right:none;
                text-align: center;
                margin-right:none;
            }
                
                h1{
                    border-bottom:none;
                }
                
        }    
    </style>